db_host = "localhost"
db_port = 5432
db_user = "postgres"
db_password = "postgres"
db_dbname = "go_resto"
db_sslmode = "disable"

be_port = "4000"
key_secret = "<fill with 32 character>" // avoid special character!